# Rendered by ansible/roles/app/tasks/main.yml for env={{ env_name }}
DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_DEBUG={{ '1' if django_debug else '0' }}
DJANGO_SECRET_KEY={{ django_secret_key }}

WAGTAILADMIN_BASE_URL={{ site_url }}
SITE_HOST={{ domain }}
SITE_URL={{ site_url }}

DJANGO_SUPERUSER_USERNAME={{ django_superuser_username }}
DJANGO_SUPERUSER_EMAIL={{ django_superuser_email }}
DJANGO_SUPERUSER_PASSWORD={{ django_superuser_password }}
